<div class="dashboard">
    <div class="filter-wrapper">
        <div class="filter">
            <label for="character">Caracter:</label>
            <input type="text" name="character" #character>
        </div>
        <div class="filter">
            <label for="movie">Movie:</label>
            <select 
                name="movie" 
                #movie>
                <option value="null" selected>-- Choose movie --</option>
                <option *ngFor="let movie of movieList" [value]="movie.title">{{ movie?.title }}</option>
            </select>
        </div>
        <div class="filter">
            <label for="specie">Specie:</label>
            <select 
                name="specie" 
                #specie>
                <option value="null" selected>-- Choose specie --</option>
                <option *ngFor="let specie of specieList" [value]="specie.name">{{ specie?.name }}</option>
            </select>
        </div>
    </div>
    <a *ngFor="let character of characterList; let i = index" [routerLink]="['../characters/', i+1 ]" class="character">{{ character?.name }}</a>
</div>